.moves {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    button {
        padding: 0.5rem 1rem;
        background-color: #3b82f6;
        color: white;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
            background-color: #2563eb;
        }
    }
}

img {
    border: 1px solid #ccc;
    border-radius: 8px;
}

.hp-bar {
    width: 100px;
    height: 10px;
    background: #ddd;
    border: 1px solid #444;
    margin: 5px 0;
}

.hp-fill {
    height: 100%;
    color: white;
    font-size: 0.75rem;
    text-align: center;
}