<div class="card matchmaking-card text-light mx-auto mt-4" style="max-width: 400px;">
  <div class="card-body">
    <label for="selectEquipo" class="form-label fw-semibold">
      Select your team:
    </label>
    <select id="selectEquipo" class="form-select mb-3" [ngModel]="selectedTeamId"
      (ngModelChange)="updateSelectedTeam($event);">

      @for (team of playerTeams(); track team.id) {
      <option [value]="team.id">{{ team.name }}</option>
      }

    </select>

    @if (selectedTeam()) {
    <div class="d-flex justify-content-center mb-3 flex-wrap gap-2">
      @for (pokemon of selectedTeam()?.data; track $index) {
      <img [src]="getSpriteUrl(pokemon.species)" [alt]="pokemon.species" width="48" height="48"
        style="image-rendering: pixelated;" />
      }
    </div>
    }

    @if (isSearching) {
    <button (click)="stopSearch()" class="btn btn-danger w-100">
      Cancel matchmaking
    </button>
    } @else {
    <button (click)="startSearch()" [disabled]="!selectedTeamId()" class="btn btn-primary w-100">
      Find game
    </button>
    }
  </div>
</div>