<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
    <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="#" style="color: #d32f2f;">Pokémon Battle</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (playerProfile()) {
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/player/profile" style="color: #d32f2f;">
                        {{ playerProfile()?.username }}

                    </a>
                </li>

                <li class="nav-item">
                    <button class="btn btn-outline-danger nav-link" (click)="logout()">Logout</button>
                </li>
            </ul>
        </div>
    }
    </div>
</nav>