<div class="team-builder-wrapper container my-5">
  <div class="card shadow-lg p-4 team-card">
    <h2 class="text-danger text-center mb-4">Your teams</h2>

    @if (playerTeams().length === 0) {
      <p class="text-muted text-center">You have no teams yet</p>
    } @else {
      <div class="d-flex flex-wrap justify-content-center gap-4">
        @for (team of playerTeams(); track $index) {
          <div class="team-box position-relative">
            <button class="edit-btn btn btn-sm btn-light position-absolute"
                    (click)="editTeam(team)">
              ✎
            </button>

            <h5 class="text-center mb-3">{{ team.name }}</h5>
            <div class="d-flex justify-content-center flex-wrap">
              @for (pokemon of team.data; track $index) {
                <img [src]="getSpriteUrl(pokemon.species)" alt="{{ pokemon.species }}"
                  class="pokemon-sprite" (click)="bounce($event)" />
              }
            </div>
          </div>
        }
      </div>
    }

    <div class="text-center mt-4">
      <button class="btn btn-danger btn-lg px-5" [routerLink]="['builder']">
        + Create new team
      </button>
    </div>
  </div>

  @if (selectedTeam()) {
  <build-tool
    [teamToEdit]="selectedTeam()!"
    (closeEditor)="selectedTeam.set(null)">
  </build-tool>
}
</div>
