<div class="team-builder-wrapper d-flex flex-column align-items-center justify-content-center">

    <div class="card shadow-lg team-card w-100 mb-4">
        <div class="card-body d-flex flex-column justify-content-center align-items-center h-100">
            <h2 class="card-title text-danger">Tus equipos</h2>
            <p class="text-muted mt-2">Aún no has creado ningún equipo</p>
        </div>
    </div>

    <button class="btn btn-danger btn-lg px-5" [routerLink]="['builder']">
        + Crear nuevo equipo
    </button>
</div>