<div class="build-tool-container container">
  <h2 class="text-center text-danger">
    {{ editing() ? 'Edit team' : 'Create team' }}
  </h2>

  <div class="form-group mb-4">
    <label for="name" class="form-label">Team name</label>
    <input type="text" class="form-control form-control-sm" [formControl]="teamName"
      placeholder="Team name" />
  </div>

  <div class="pokemon-list">

    @for (pokemon of team(); track $index) {
    <div class="pokemon-card d-flex gap-3 p-3 bg-light border rounded shadow-sm">
      <div class="sprite-wrapper">
        @if (pokemonSprites[$index]) {
        <img [src]="pokemonSprites[$index]" alt="Sprite" width="64" height="64" />
        }
      </div>

      <div class="flex-grow-1">
        <div class="row g-2 mb-2 align-items-center">
          <div class="col-md-6">
            <input type="text" class="form-control form-control-sm" placeholder="Pokémon"
              [formControl]="pokemonForms[$index].controls.name" [attr.list]="'speciesList' + $index" />
            <datalist [id]="'speciesList' + $index">
              @for (name of speciesList(); track name) {
              <option [value]="name"></option>
              }
            </datalist>
          </div>

          <div class="col-md-3">
            <input type="text" class="form-control form-control-sm" placeholder="Item"
              [formControl]="pokemonForms[$index].controls.item" [attr.list]="'items' + $index" />
            <datalist [id]="'items' + $index">
              @for (item of itemsList(); track item) {
              <option [value]="item"></option>
              }
            </datalist>
          </div>

          <div class="col-md-3">
            <input type="text" class="form-control form-control-sm" placeholder="Ability"
              [formControl]="pokemonForms[$index].controls.ability" [attr.list]="'abilities' + $index" />
            <datalist [id]="'abilities' + $index">
              @for (ability of legalAbilities[$index]; track ability) {
              <option [value]="ability"></option>
              }
            </datalist>
          </div>
        </div>

        <div class="row g-2 mb-2">
          <div class="col-md-6">
            <select class="form-select form-select-sm" [formControl]="pokemonForms[$index].controls.teraType">
              <option value="">Tera Type</option>
              @for (type of teraTypes(); track type) {
              <option [value]="type">{{ type }}</option>
              }
            </select>
          </div>

          <div class="col-md-6">
            <select class="form-select form-select-sm" [formControl]="pokemonForms[$index].controls.nature">
              <option value="">Nature</option>
              @for (nature of natures(); track nature) {
              <option [value]="nature">{{ nature }}</option>
              }
            </select>
          </div>
        </div>

        <div class="row g-2 mb-2">
          <div class="col-md-3">
            <input type="text" class="form-control form-control-sm"
              [formControl]="pokemonForms[$index].controls.moves.controls['move1']" placeholder="Move 1"
              [attr.list]="'moves' + $index + '-1'" />
            <datalist [id]="'moves' + $index + '-1'">
              @for (move of legalMoves[$index]; track move) {
              <option [value]="move"></option>
              }
            </datalist>
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control form-control-sm"
              [formControl]="pokemonForms[$index].controls.moves.controls['move2']" placeholder="Move 2"
              [attr.list]="'moves' + $index + '-2'" />
            <datalist [id]="'moves' + $index + '-2'">
              @for (move of legalMoves[$index]; track move) {
              <option [value]="move"></option>
              }
            </datalist>
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control form-control-sm"
              [formControl]="pokemonForms[$index].controls.moves.controls['move3']" placeholder="Move 3"
              [attr.list]="'moves' + $index + '-3'" />
            <datalist [id]="'moves' + $index + '-3'">
              @for (move of legalMoves[$index]; track move) {
              <option [value]="move"></option>
              }
            </datalist>
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control form-control-sm"
              [formControl]="pokemonForms[$index].controls.moves.controls['move4']" placeholder="Move 4"
              [attr.list]="'moves' + $index + '-4'" />
            <datalist [id]="'moves' + $index + '-4'">
              @for (move of legalMoves[$index]; track move) {
              <option [value]="move"></option>
              }
            </datalist>
          </div>
        </div>


      </div>
    </div>
    }
  </div>



  <div class="d-flex justify-content-center">
    <button class="btn btn-danger px-5 py-3 mt-4" (click)="saveTeam()">Save Team</button>
  </div>
</div>