<div class="friends-card container">
    <div class="card text-center">
        <div class="card-header">
            <h2>Friend list</h2>
        </div>
        <div class="card-body">
            <div class="friends-list">
                @if (loading()) {
                loading friends
                }
                @if (!loading()) {
                @for (friend of friendsWithStatus; track $index) {
                <div class="friend-card d-flex justify-content-between align-items-center border p-1 rounded mb-1"
                    [routerLink]="[`/player/profile/${friend.id}`]" style="cursor: pointer;"
                    [attr.title]="!friend.online ? ('Last login: ' + (friend.lastLogin | date:'medium')) : null">
                    <div class="friend-info">
                        <h5 class="friend-name mb-0" style="font-size: 1rem;">{{ friend.username }}</h5>
                        <span class="friend-status"
                            [ngClass]="{'text-success': friend.online, 'text-danger last-login-info': !friend.online}">
                            {{ friend.online ? 'Online' : 'Offline ' }}
                            @if (!friend.online) {
                            <i class="bi bi-info-square"></i>
                            }
                        </span>
                    </div>
                    @if(friend.photo) {
                    <div class="friend-photo">
                        <img [src]="'/images/avatars/' + friend.photo" (error)="onImageError($event)"
                            alt="{{ friend.username }}'s photo" class="img-fluid rounded-circle friend-avatar" />

                    </div>
                    }
                </div>

                }
                }
            </div>
        </div>
    </div>
</div>