<div class="register-player-container">
    <h2>Registro de Jugador</h2>

    <form [formGroup]="playerForm" (ngSubmit)="onRegister()">
        <div>
            <label for="name">Name </label>
            <input id="name" formControlName="name" type="text" />
            @if(playerForm.controls['name'].invalid && playerForm.controls['name'].touched) {
            <div>
                <small>El nombre es obligatorio.</small>
            </div>
            }
        </div>

        <div>
            <label for="passwordHash">Password </label>
            <input id="passwordHash" formControlName="passwordHash" type="passwordHash" />
            @if(playerForm.controls['passwordHash'].invalid && playerForm.controls['passwordHash'].touched){
            <div>
                @if(playerForm.controls['passwordHash'].hasError('required')){
                <small>Password is required.</small>
                }
                @if(playerForm.controls['passwordHash'].hasError('minlength')){
                <small>Password must be longer.</small>
                }
            </div>
            }
        </div>

        <button type="submit">Registrar</button>

    </form>
</div>