<div class="d-flex justify-content-center align-items-center vh-100"
  style="background: url('/images/backgrounds/register_bg.jpg') no-repeat center center; background-size: cover;">
  <div class="card shadow-lg" style="width: 35rem; background-color: white; border-radius: 1rem;">
    <div class="card-body">
      <h2 class="card-title text-center text-danger mb-4">Create your account</h2>

      @if(errors() === 400) {
      <div class="alert alert-danger">Email is already registered</div>
      }

      @if(currentStep() === 1) {


      <form class="mt-4" method="POST" [formGroup]="registerForm" (ngSubmit)="addPlayer()">
        <div class="mb-3">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name"
            [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }" />
          @let nameErrors = registerForm.get('name')?.errors;
          @if (nameErrors?.['required']) {
          <div class="invalid-feedback">Name cannot be empty</div>
          }
        </div>

        <div class="mb-3">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email"
            [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }" />
          @let emailErrors = registerForm.get('email')?.errors;
          @if (emailErrors?.['required']) {
          <div class="invalid-feedback">Email cannot be empty</div>
          }
          @if (emailErrors?.['email']) {
          <div class="invalid-feedback">Must be email type</div>
          }
        </div>

        <div class="mb-3">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password"
            [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }" />
          @let pwErrors = registerForm.get('password')?.errors;
          @if (pwErrors?.['required']) {
          <div class="invalid-feedback">Password cannot be empty</div>
          }
          @if (pwErrors?.['minlength']) {
          <div class="invalid-feedback">Must be at least 4 characters long</div>
          }
        </div>

        <div class="mb-3">
          <label for="password2">Repeat Password:</label>
          <input type="password" class="form-control" id="password2" formControlName="password2"
            placeholder="Repeat Password" [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }" />
          @let pw2Errors = registerForm.get('password2')?.errors;
          @if (pw2Errors?.['required']) {
          <div class="invalid-feedback">Password cannot be empty</div>
          }
          @if (pw2Errors?.['minlength']) {
          <div class="invalid-feedback">Must be at least 4 characters long</div>
          }
          @if (pw2Errors?.['passwordsNotMatching']) {
          <div class="invalid-feedback d-block">Passwords must match!</div>
          }
        </div>

        <button type="button" (click)="addPlayer()" class="btn btn-danger">Next</button>

        <div class="text-center m-0">
          <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active"
            class="btn btn-link text-decoration-none" role="button">Return to login</a>
        </div>
      </form>
      }
      @if(currentStep() === 2) {

      <div class="mb-3">
        <label>Choose your avatar:</label>
        <div class="row mt-2">
          @for (avatar of availableAvatars(); track $index) {
          <div class="col-3 d-flex justify-content-center mb-3 avatar-option">
            <img [src]="'/images/avatars/' + avatar" class="img-thumbnail avatar-option"
              [class.border-primary]="selectedAvatar() === avatar" (click)="selectAvatar(avatar)" [alt]="avatar" />
          </div>
          }
        </div>
        @if (!selectedAvatar()) {
        <div class="text-danger mt-2">You must select an avatar</div>
        }
      </div>


      <div class="d-flex justify-content-between">
        <button (click)="currentStep.set(1)" class="btn btn-sm btn-secondary me-2" style="background-color: #e0e0e0; color: #333;">Go back</button>
        <button (click)="addPlayer()" class="btn" [disabled]="registerForm.invalid">Create account</button>
      </div>
      }
    </div>
  </div>
</div>