<div class="container">
  <div class="row">
    <!-- First Column -->
    <div class="col-md-6">
      <app-friends-list></app-friends-list>
    </div>
    <!-- Second Column -->
    <div class="col-md-6">
      <app-friend-search
        [incomingRequests]="incomingRequests()"
        [outgoingRequests]="outgoingRequests()"
      ></app-friend-search>
      <app-friend-requests
        [incomingRequests]="incomingRequests()"
        [outgoingRequests]="outgoingRequests()"
        [refreshIncomingRequests]="fetchIncomingRequests"
        [refreshOutgoingRequests]="fetchOutgoingRequests"
      ></app-friend-requests>
    </div>
  </div>
</div>