.parent-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

app-friends-list {
  min-width: 250px;
}

app-friend-search {
  flex: 1;
  min-width: 250px;
  max-width: 38%;
  margin-right: 10%;
}