.avatar-wrapper {
  position: relative;
  display: inline-block;

  &.editable {
    cursor: pointer;

    &:hover {
      .avatar {
        opacity: 0.4;
      }

      .edit-icon {
        opacity: 1;
      }
    }
  }
}

.edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: rgb(61, 58, 58);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &:hover {
    .avatar {
      opacity: 0.4;
    }

    .edit-icon {
      opacity: 1;
    }
  }
}


.username {
  font-weight: 700;
  color: #d32f2f;
}

.edit-profile-form {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  min-width: 500px;
}

.tag {
  font-weight: 400;
  color: #666;
  font-size: 1rem;
}

.email {
  font-size: 0.95rem;
}

.friendlist {
  background-color: #f8f9fa;
  color: #999;
  max-height: 500px;
  font-style: italic;
}

.user-info {
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .avatar {
      margin-bottom: 1rem;
    }
  }
}

.card-body.team-scroll {
  flex: 1;
  overflow-y: auto;
  padding-right: 0.5rem;

  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .card {
    max-width: 480px;
  }
}

.card.teams-container {
  height: 500px;
  display: flex;
  flex-direction: column;
}