.background-container {
  position: relative;
  padding: 0.5rem 1rem;
  max-height: 85vh;
  overflow-y: hidden;
}

.teams-link {
  cursor: pointer;
  border: 1px solid #d32f2f;
  padding: 0.2em;
  text-align: center;

  &:hover {
    border: 1px solid #4f6697;
    color: #4f6697;
  }
}

.background-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/backgrounds/teamBuilder_bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.7;
}

.avatar-wrapper.editable {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  color: #d32f2f;
  opacity: 0;
  pointer-events: none;
  border-radius: 50%;
  background-color: white;
  padding: 2px;
  transition: opacity 0.3s ease;
}

.avatar-wrapper.editable:hover .edit-icon {
  opacity: 1;
  pointer-events: auto;
}

.container-fluid {
  max-width: 900px;
  margin: 0 auto;
}

.sidebar {
  width: 280px;
  max-height: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.edit-form {
  background-color: #fff4e6;
  border-radius: 8px;
  min-width: 100%;
  max-height: fit-content;
}

.online-friends {
  background-color: #fff4e6;
}

.teams-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden;
  max-height: 100%;
}


.team-card {
  background-color: #ececec;
  border-radius: 6px;
  max-height: 80px;
  overflow: hidden;
}

.sprite {
  margin-left: 0.5rem;
}

.team-scroll {
  max-height: calc(100vh - 250px);
  overflow-y: auto;
}



.card-title {
  width: 25%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .d-flex.flex-md-row {
    flex-direction: column !important;
  }

  .sidebar {
    width: 100% !important;
    max-height: none !important;
  }

  .online-friends {
    max-height: 150px;
  }
}